@model Gantt_Chart.Models.tryProjectViewModel
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />
<style>
    #addbadges-modal .btn-group {
        width: 100% !important;
    }

        #addbadges-modal .btn-group .dropdown-toggle {
            border: 1px solid #dae1e7;
        }

    #addbadges-modal .multiselect-container {
        width: 100% !important;
        border: 1px solid #dae1e7;
    }
</style>
@Html.Partial("SideMenu")
<div class="container">
    <div class="row">
        <!-- Content  -->
        <section class="col-lg-12 p-0 box-pro">
            <!-- Toolbar-->
            <div class="order-lg-1 pr-lg-4 p-15 text-center text-lg-left">
                <h1 class="h3 mb-3">View Sub Division of Task</h1>
            </div>
            <div class="p-15">
                <div class="row col-md-12">
                    <div class="col-md-12">
                        <label for="text-input">Project Name</label>
                        <select id="ddlProjectName" class="form-control custom-select" name="ProjectId">
                            <option>Select Project</option>

                            @if (ViewBag.ProjectName != null)
                            {
                                foreach (var iProjectName in ViewBag.ProjectName)
                                {
                                    <option value="@iProjectName.ProjectId">@iProjectName.ProjectName</option>
                                }
                            }


                        </select>
                        <h7 id="ddlProjectNamecheck"></h7>
                    </div>
                    <div class="col-md-12">
                        <label for="text-input">Task</label>
                        <select id="ddlTask" class="form-control custom-select" name="TaskDescription">
                            <option>Select Task</option>

                            @if (ViewBag.Task != null)
                            {
                                foreach (var iTask in ViewBag.Task)
                                {
                                    <option value="@iTask.TryPojectID">@iTask.TaskDescription</option>
                                }
                            }


                        </select>
                        <h7 id="ddlTaskcheck"></h7>
                    </div>
                </div>

                <div id="ViewSubtask" style="margin-top:30px;">
                    <a href="#" class="btn btn-info fa-pull-right" data-toggle="modal" onclick="AddNewCategory(mTaskSlno)"><i class="fas fa-plus mr-2 ml-n21"></i>Add Sub Division of Task</a> <br /><br />

                    <div class="font-size-sm" style="overflow: scroll;margin-top: 30px;" >
                        <table id="CategoryTable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Sub Task (Description)</th>
                                    <th>Assign User</th>
                                    @*<th>Vendor Name</th>*@
                                    <th>Planned Start Date </th>
                                    <th>Planned End Date </th>
                                    @*<th>Action</th>
                                    <th>Action</th>*@
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>

            </div>

            <!-- Add New Badges Modal-->
            <div class="modal fade show" id="addbadges-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document" style="z-index:1200 !important; top:60px; max-width:750px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" href="#" data-toggle="tab" role="tab" aria-selected="true">  <i class="fas fa-plus-circle mr-2 float-left"></i> <h6 id="ModalTitle" style="color: #0053c2; width: 110px;"></h6></a></li>
                            </ul>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body tab-content py-4">
                            <form id="form" class="row">
                                <fieldset id="SubmitForm">
                                    @Html.HiddenFor(m => m.TryPojectID, new { @id = "mTaskSlno" })
                                    <div class="row col-md-12">
                                        <div class="col-md-12">
                                            <label for="text-input" style="margin: 11px 0px 0;">Task Name</label>
                                            <select id="ddlTaskName" class="form-control custom-select" name="TaskSlno">
                                                <option>Select Task</option>

                                                @if (ViewBag.Task != null)
                                                {
                                                    foreach (var iTask in ViewBag.Task)
                                                    {
                                                        <option value="@iTask.TryPojectID">@iTask.TaskDescription</option>
                                                    }
                                                }


                                            </select>
                                        </div>
                                        <div class="col-md-12">
                                            <label for="text-input" style="margin: 11px 0px 0;">Sub Task Name</label>
                                            @Html.TextBoxFor(m => m.TaskDescription, new { @id = "subTaskName", @class = "form-control", type = "text" })
                                            <h7 id="Compcheck"></h7>
                                        </div>

                                        <div class="col-sm-12" id="StartDate">

                                            <div class="form-group">
                                                <label for="text-input">Planned Start Date (Format : DD/MM/YYYY)</label>
                                                @Html.TextBoxFor(m => m.StartDate, new { @id = "PlannedStartDate", @class = "form-control", type = "date" })

                                                <h7 id="mDateofBirth"></h7>
                                            </div>
                                        </div>

                                        <div class="col-sm-12" id="StartDate">

                                            <div class="form-group">
                                                <label for="text-input">Planned End Date (Format : DD/MM/YYYY)</label>
                                                @Html.TextBoxFor(m => m.EndDate, new { @id = "PlannedEndDate", @class = "form-control", type = "date" })

                                                <h7 id="mDateofBirth"></h7>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <label for="text-input">Assign to User</label>
                                            <select id="ddlUserType" class="form-control custom-select" name="Responsibility">
                                                <option>Select User</option>

                                                @if (ViewBag.User != null)
                                                {
                                                    foreach (var iUser in ViewBag.User)
                                                    {
                                                        <option value="@iUser.UserID">@iUser.UserName</option>
                                                    }
                                                }


                                            </select>
                                            <h7 id="countrycheck"></h7>
                                        </div>

                                        <div class="col-md-12 navbar-text text-right">
                                            <button class="btn btn-outline-secondary mr-3" id="Reset" value="Reset" type="reset"><i class="fas fa-trash-restore-alt  mr-2 ml-n21"></i>Reset</button>
                                            <a href="#" class="btn btn-primary" id="SaveNodalCompany"><i class="fas fa-save mr-2 ml-n21"></i> Save</a>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

            @*Create A PopUp Modal For Confirmation message*@
            <div class="modal fade show" id="ConfirmationMsg" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document" style="z-index:1200!important;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#" data-toggle="tab" role="tab" aria-selected="true">
                                        <i class="fas fa-envelope mr-2 mt-n1"></i>Alert Message
                                    </a>
                                </li>
                            </ul>

                        </div>
                        <div class="modal-body tab-content py-4">
                            <h6 id="ModalTitleMsg"></h6>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-danger" onclick="ConfirmMsg()">Ok</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
<script>
    $(document).ready(function () {

    });
    $("#loader-wrapper").hide();
   

   

    function ddlProjectName() {
        if ($("#ddlProjectName").val() != null) {
            if ($("#ddlProjectName").val() != "Select Project") {
                $('#ddlProjectNamecheck').hide();
                ddlProjectName_err = true;
                return true;
            }

            else {
                $('#ddlProjectNamecheck').show();
                $('#ddlProjectNamecheck').html(" **Please select Project");
                $('#ddlProjectNamecheck').focus();
                $('#ddlProjectNamecheck').css("color", "red");
                ddlProjectName_err = false;
                return false;
            }
        }
    }
    $("#ddlProjectName").change(function () {
        var selectedCategory = $(this).children("option:selected").val();
        if (selectedCategory != "Select Project") {
            $('#ddlProjectNamecheck').hide();
            ddlProjectName_err = true;
            $("#loader-wrapper").show();
            var ProjectId = $(this).val();
            $.getJSON("/Home/GetTryProjectDetails", { id: ProjectId },
                function (classesData) {
                    var select = $("#ddlTask");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "Select Task"
                    }));
                    var select1 = $("#ddlTaskName");
                    select1.empty();
                    select1.append($('<option/>', {
                        value: 0,
                        text: "Select Task"
                    }));
                    $.each(classesData, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                    $.each(classesData, function (index, itemData) {
                        select1.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                    $("#loader-wrapper").hide();
                });
        }
        else {
            $('#ddlProjectNamecheck').show();
            $('#ddlProjectNamecheck').html(" **Please select Project");
            $('#ddlProjectNamecheck').focus();
            $('#ddlProjectNamecheck').css("color", "red");
            ddlProjectName_err = false;
            return false;
        }
    });

    $("#ddlTask").change(function () {

        var selectedCategory = $(this).children("option:selected").val();
        if (selectedCategory != "Select Task") {
            $("#loader-wrapper").show();
            var TaskSlno = $(this).val();
            $("#mTaskName").val(TaskSlno);
            var i = 1;
            dataTable = $("#CategoryTable").DataTable({
                "scrollX": "300",
                "scrollCollapse": true,
                "paging": false,
                "jQueryUI": true,
                "ajax": {
                    "url": "/Home/GetSubTaskDetails?id=" + TaskSlno,
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "render": function (data, type, full, meta) {
                            return i++;
                        }
                    },
                    { "data": "TaskDescription" },
                    { "data": "UserName" },
                    {
                        "data": "StartDate", "render": function (d) {
                            return moment(d).format("DD:MM:YYYY");
                        }
                    },
                    {
                        "data": "EndDate", "render": function (d) {
                            return moment(d).format("DD:MM:YYYY");
                        }
                    },
                    //{
                    //    "data": "TryPojectID", "render": function (data) {
                    //        /**/
                    //        return "<a class='btn btn-info btn-sm' style = 'margin-left:5px' onclick='EditNodalComp(" + data + ")'><i class='fa fa-edit'></i></a>";

                    //        /**/
                    //    },
                    //    "orderable": false,
                    //    "searchable": false,
                    //    "width": "150px"
                    //},
                    //{
                    //    "data": "ProjectId", "render": function (data) {
                    //        /**/
                    //        return "<a class='btn btn-danger btn-sm' style = 'margin-left:5px' onclick = 'DeleteNodalComp(" + data + ")' > <i class='fa fa-eye'></i></a > ";

                    //        /**/
                    //    },
                    //    "orderable": false,
                    //    "searchable": false,
                    //    "width": "150px"
                    //}

                ],
                "language": {

                    "emptyTable": "No data found"
                }
             
            });
            $("#loader-wrapper").hide();
        }
        else {
            $('#ddlTaskheck').show();
            $('#ddlTaskheck').html(" **Please select Project");
            $('#ddlTaskheck').focus();
            $('#ddlTaskheck').css("color", "red");
            ddlProjectName_err = false;
            return false;
        }
    });

    $("#SaveNodalCompany").click(function () {
        ddlProjectName();
        if ((ddlProjectName_err == true)) {
            var data = $("#SubmitForm").serialize();
            $("#loader-wrapper").show();
            $.ajax({
                type: "Post",
                url: "/Home/AssignofTask",
                data: data,
                success: function (result) {
                    if (result == "Saved") {
                        $("#ConfirmationMsg").modal("show");
                        $("#ModalTitleMsg").html("Saved Sucessfully");

                        $("#loader-wrapper").hide();
                    }
                    else if (result == "Update") {
                        $("#ConfirmationMsg").modal("show");
                        $("#ModalTitleMsg").html("Record Update Sucessfully");

                        $("#loader-wrapper").hide();
                    }
                    else if (result == "Already") {
                        $("#ConfirmationMsg").modal("show");
                        $("#ModalTitleMsg").html("This email id already exits");

                        $("#loader-wrapper").hide();
                    }
                    else {
                        $("#ConfirmationMsg").modal("show");
                        $("#ModalTitleMsg").html("Record not saved");

                        $("#loader-wrapper").hide();
                    }

                }
            })
        }
        else {
            return false;
            $("#loader-wrapper").hide();
        }

    })
    var ConfirmMsg = function () {
        $("#ConfirmationMsg").modal("hide");
        $("#addbadges-modal").modal("hide");
        i = 1;
        dataTable.ajax.reload();
    }

    //Show The Popup Modal For DeleteComfirmation
    var DeleteNodalComp = function (NodalCompID) {
        $("#mNodalCompID").val(NodalCompID);
        $("#DeleteConfirmation").modal("show");
    }
    var ConfirmDelete = function () {
        var NodalCompID = $("#mNodalCompID").val();
        $.ajax({
            type: "POST",
            url: "/Home/Gantt?Id=" + NodalCompID,
            success: function (result) {
                
            }
        })
    }

    function AddNewCategory(TaskSlno) {
        
        $("#loader-wrapper").hide();
        //$("#form")[0].reset();
        $("#mTaskName").val(mTaskSlno);
        $("#ModalTitle").html("Add Sub Division of Task");
        $("#addbadges-modal").modal();

    }


    function EditNodalComp(NodalCompID) {
        $("#loader-wrapper").show();
        var url = "/Admin/EditNodalCompanyById?id=" + NodalCompID;
        $("#ModalTitle").html("Update Record");
        $("#addbadges-modal").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#ddlcountry").val(obj.Contry);
                $("#mNodalCompID").val(obj.NodalCompID);
                $("#mNodalCompany").val(obj.NodalCompany);
                $("#mNodalName").val(obj.NodalName);
                $("#mHelpline").val(obj.Helpline);
                $("#mEmail").val(obj.Email);
                $("#mAddress").val(obj.Address);
                $("#ddlcategory").multiselect({

                });
                var hidValue = obj.CategoryID;
                var selectedOptions = hidValue.split(",");
                for (var i in selectedOptions) {
                    var optionVal = selectedOptions[i];
                    $("#ddlcategory").find("option[value=" + optionVal + "]").prop("selected", "selected");
                    $(".multiselect-container li").find("input[value=" + optionVal + "]").prop("checked", "checked");
                }
                $('#ddlcategory').multiselect('refresh');
                $('#ddlcontry').hide();
                $('#ddlcategory').hide();
                $('#NodalCompany_check').hide();
                $('#NodalName_check').hide();
                $('#helpline_check').hide();
                $('#email_check').hide();
                $('#Address_check').hide();
            }
        })
    }

</script>
