




 



        <div class="bg-light border-right " id="sidebar-wrapper" style="z-index:9;">
            <div class="sidebar-heading">MOD Acquisition</div>
            <div class="list-group list-group-flush" style="margin-top: 20px;">
                <button class="dropdown-btn">
                    Data Master
                    <i class="fa fa-caret-down"></i>
                </button>
                @if (Session["SectionID"] != null || Session["SectionID"] != null)
                {
                    if ((int)HttpContext.Current.Session["SectionID"] == 13)
                    {
                        <div class="dropdown-container">
                            <ul class="p-0">
                                <li class="p-2"><a href="@Url.Action("Index", "User")">User Master</a> </li>
                                <li class="p-2"><a href="@Url.Action("Index", "Vendor")">Vendor Master</a></li>
                            </ul>
                        </div>
                    }
                }

                <div class="dropdown-container">
                    <ul class="p-0">
                        @*<li class="p-2"><a href="@Url.Action("Index","User")">User Master</a> </li>*@
                        <li class="p-2"><a href="@Url.Action("Index","Vendor")">Vendor Master</a></li>
                    </ul>
                </div>

                @if (Session["SectionID"] != null || Session["SectionID"] != null)
                {
                    if ((int)HttpContext.Current.Session["SectionID"] == 12 || (int)HttpContext.Current.Session["SectionID"] == 1 || (int)HttpContext.Current.Session["SectionID"] == 13)
                    {
                        <button class="dropdown-btn">
                            AON
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-container">
                            <ul class="p-0">
                                <li class="p-2"><a href="@Url.Action("Index","AcquisitionMeetingMaster")">Meeting Master</a> </li>
                                <li class="p-2"><a href="@Url.Action("Index","AoN")">AON Registration</a></li>
                                <li class="p-2"><a href="@Url.Action("AoNForeClosure","AoN")">AoN ForeClosure</a></li>
                            </ul>
                        </div>
                    }
                }

                @*Dashboard Demo*@

                <a href="@Url.Action("Dashboard","Home")" style="color:black; font-family:Georgia, 'Times New Roman', Times, serif;" class="font-weight-bolder text list-group-item list-group-item-action bg-light">Dashboard</a>

                @*Report Tab*@

                @if (Session["SectionID"] != null || Session["SectionID"] != null)
                {
                    if ((int)HttpContext.Current.Session["SectionID"] == 12 || (int)HttpContext.Current.Session["SectionID"] == 1 || (int)HttpContext.Current.Session["SectionID"] == 13 || (int)HttpContext.Current.Session["SectionID"] == 2 || (int)HttpContext.Current.Session["SectionID"] == 3 || (int)HttpContext.Current.Session["SectionID"] == 4 || (int)HttpContext.Current.Session["SectionID"] == 8 || (int)HttpContext.Current.Session["SectionID"] == 9 || (int)HttpContext.Current.Session["SectionID"] == 10)
                    {
                        <button class="dropdown-btn">
                            Reports
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-container">
                            <ul class="p-0">
                                <li class="p-3"><a href="@Url.Action("ServiceWiseReport","Reports")">Service-Wise Report on the Pending Cases at various Stages</a> </li>
                                @*<li class="p-2"><a href="@Url.Action("Index","AoN")">AON Registration</a></li>*@
                                <li class="p-3"><a href="@Url.Action("ViewAoNList","AoN")">AoN Granted During a Given Period Category-wise Alongwith Costs</a></li>
                                <li class="p-3"><a href="@Url.Action("NewReports","WReports")">Case wise report indicating timelines at various stages and current status</a></li>
                                <li class="p-3"><a href="@Url.Action("ChartReport1","WReports")">Milestones achieved during a period</a></li>
                                <li class="p-3"><a href="@Url.Action("particularstage","Reports")">Trend analysis for a particular stage</a></li>
                                <li class="p-3"><a href="@Url.Action("ServiceWiseGraphAll","Reports")">Stage wise Cycle time analysis (All services)</a></li>
                                <li class="p-3"><a href="@Url.Action("StageWiseDelay","Reports")">Stage wise cycle time analysis</a></li>
                                <li class="p-3"><a href="/Reports/StageWiseDelay?Categorisation=&amp;Service_Lead_Service=&amp;stage=TM">Stage wise cycle time analysis (TM)</a></li>
                                <li class="p-3"><a href="/Reports/StageWiseDelay?Categorisation=&amp;Service_Lead_Service=&amp;stage=AM">Stage wise cycle time analysis (AM)</a></li>

                                @*<button class="dropdown-btn p-0" style="width:95%">
                                    Data Master
                                    <i class="fa fa-caret-down"></i>
                                </button>*@

                                @*<div class="dropdown-container">
                                    <ul class="p-0">
                                        <li class="p-3"><a href="@Url.Action("Index","User")">Item-Wise indicating Time Taken at Various Stages  and its Current Stage</a> </li>
                                        <li class="p-3"><a href="@Url.Action("Index","Vendor")">Service-Wise Pendency of Cases at Various Stages</a></li>
                                    </ul>
                                </div>
                                <li class="p-3"><a href="@Url.Action("ViewAoNList","AoN")">Milestones Achieved During a Month</a></li>*@
                            </ul>
                        </div>
                    }
                }

                @if (Session["SectionID"] != null)
                {
                    if ((int)HttpContext.Current.Session["SectionID"] == 8 || (int)HttpContext.Current.Session["SectionID"] == 9 || (int)HttpContext.Current.Session["SectionID"] == 10 || (int)HttpContext.Current.Session["SectionID"] == 13)
                    {
                        <a href="@Url.Action("Index", "MOD")" style="color:black; font-family:Georgia, 'Times New Roman', Times, serif" class="font-weight-bolder list-group-item list-group-item-action bg-light">Stage Progress(Technical Manager)</a>

                    }
                }
                @if (Session["SectionID"] != null)
                {
                    if ((int)HttpContext.Current.Session["SectionID"] == 2 || (int)HttpContext.Current.Session["SectionID"] == 3 || (int)HttpContext.Current.Session["SectionID"] == 4 || (int)HttpContext.Current.Session["SectionID"] == 13)
                    {
                        <a href="@Url.Action("StageProgressAcquisitionManager", "MOD")" style="color:black; font-family:Georgia, 'Times New Roman', Times, serif" class="font-weight-bolder list-group-item list-group-item-action bg-light">Stage Progress(Acquisition Manager)</a>
                    }
                }

                @if (Session["SectionID"] != null)
                {
                    if ((int)HttpContext.Current.Session["SectionID"] == 8 || (int)HttpContext.Current.Session["SectionID"] == 9 || (int)HttpContext.Current.Session["SectionID"] == 10 || (int)HttpContext.Current.Session["SectionID"] == 2 || (int)HttpContext.Current.Session["SectionID"] == 3 || (int)HttpContext.Current.Session["SectionID"] == 4 || (int)HttpContext.Current.Session["SectionID"] == 13)
                    {
                        <a href="@Url.Action("projectstageapplicability", "MOD")" style="color:black; font-family:Georgia, 'Times New Roman', Times, serif" class="font-weight-bolder list-group-item list-group-item-action bg-light">Project Stage Applicability</a>

                    }
                }
            </div>
        </div>
