@model MOD.Models.TimeLineReport1
    @using DDPAdmin.Services.Master
@{
}

<script>
    $(document).ready(function () {
        $("#auth").addClass("show");
        $("#auth_cw").addClass("active");
    });
</script>

<style>
    td {
        padding: 20px;
    }
</style>

<div class="card flex-fill w-100 p-4">
    <div class="row d-flex justify-content-center">
        <h3 class="well text-capitalize p-3 text-center">Case wise report indicating timelines at various stages and current status</h3>
    </div>
    <div class="mb-2 mb-xl-3">
        <div class="d-flex">
            <div class="col-md-9 pl-0">
                <h2 class="mb-0 p-0">Select AoN</h2>
                <select class="form-control mt-2" id="item_description" name="aon_id">
                    <option value="" id="maon">--Select AoN Name--</option>
                    @foreach (var item in @ViewBag.item_description)
                    {
                        if (ViewBag.SelectedAon != null)
                        {
                            if (ViewBag.SelectedAon.ToString() == item.aon_id.ToString())
                            {
                                <option selected value="@item.aon_id" so-ency="@Cipher.Encrypt(item.aon_id.ToString(),"")">@item.item_description</option>
                            }
                            else
                            {
                                <option value="@item.aon_id" so-ency="@Cipher.Encrypt(item.aon_id.ToString(),"")">@item.item_description</option>
                            }
                           
                        }
                        else
                        {
                            <option value="@item.aon_id" so-ency="@Cipher.Encrypt(item.aon_id.ToString(),"")">@item.item_description</option>
                        }
                    }
                </select>
            </div>
            <div class="pt-3 d-flex justify-content-end">
                <div class="pl-3 d-flex pr-3"><button type="button" id="btnClick" class="btn btn-primary mt-2" style="font-size: 20px;" onclick="SearchDrop()">Search</button></div>
                @*<div class="pl-3 pr-3"><a type="button" href="@Url.Action("ServiceWiseReport","Reports")" class="btn btn-primary btnFCs">Reset</a></div>*@
            </div>
        </div>
        <table class="table-bordered mt-4 mb-4" style="width: -webkit-fill-available;">
            <tbody>
                <tr>
                    <td><b>ServiceLead Service</b></td>
                    <td><b>Item Description</b></td>
                    <td><b>Date of Accord of AoN</b></td>

                    <td><b>Cost (in Rs. Crs)</b></td>
                    <td><b>Categorisation</b></td>
                    <td><b>IC Percentage</b></td>
                    <td><b>Trials Required</b></td>
                </tr>

                <tr>
                    <td id="mServiceLeadService"></td>
                    <td id="mitemdescription"></td>
                    <td id="mDateofAccordofAoN"></td>
                    <td id="mCost"></td>
                    <td id="mCategorisation"></td>
                    <td id="mICPercentage"></td>
                    <td id="mTrialsRequired"></td>
                </tr>
            </tbody>
        </table>

        <div id="mViewChart" class="d-none">
            <button type="submit" class="btn btn-primary pull-right" style="float:right; margin-right:15px; margin-bottom:10px; margin-top:10px;" id='btnsavedetails'>View Chart</button>
            <hr />
            <br />
        </div>

        <div class="table-responsive" style="    max-height: 550px;overflow: scroll;">
            <table id="CategoryTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Stage Description</th>
                        <th>Completed On</th>
                        <th>No of Weeks</th>
                        <th>DAP Timeline</th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        SearchDrop();
        $("#loader-wrapper").hide();
        $.fn.dataTable.ext.errMode = 'none';

        $("#item_description").chosen({
            //disable_search: true
            //disable_search: true
        });
        if ('@ViewBag.id' === "") {


        }
        else {

            @*$("#item_description").val(@ViewBag.id).change();*@
            $("#dd").addClass('d-none');
        }
    });



    function SearchDrop()  {
        var selectedCountry = $(this).children("option:selected").val();
        if (selectedCountry != "Select") {

            $("#mViewChart").addClass('d-none');
            $.get("/WReports/GetTable1/" + $("#item_description").val(), function (data, status) {

                var data = JSON.parse(data);
                var getTrialsObj = data;
                $('#mServiceLeadService').html(data.Service_Lead_Service);
                $('#mitemdescription').html(data.item_description);
                $('#mDateofAccordofAoN').html(data.Date_of_Accord_of_AoN);
                $('#mCategorisation').html(data.Categorisation);
                $('#mICPercentage').html(data.IC_percentage);
                $('#mTrialsRequired').html(data.Trials_Required);
                $('#mCost').html(data.Cost);
                $("#mViewChart").removeClass('d-none');
            })

            var i = 1;
            table = $('#CategoryTable').DataTable({
                paging: false
            });
            table.destroy();
            var dataTable = $('#CategoryTable').DataTable({
                "scrollX": "300",
                "scrollCollapse": true,
                "paging": false,
                "jQueryUI": true,
                "ajax": {
                    "url": "/WReports/GetTable?id=" + $("#item_description").val(),
                    "type": "GET",
                    "datatype": "json",
                },

                "columns": [
                    {
                        "render": function (data, type, full, meta) {
                            return i++;
                        }
                    },

                    //{ "data": "TaskDescription" },

                    { "data": "TaskDescription" },

                    {
                        "data": "completed_on", "render": function (d) {
                            console.log(d);
                            if (d === null || d == "/Date(-2209008600000)/")
                            {
                                console.log("work");
                                return "";
                            }
                                return moment(d).format("DD/MMM/YYYY");

                        }
                    },

                    { "data": "no_of_weeks" },
                    { "data": "dap_timeline" },

                ],

                "language": {

                    "emptyTable": "No data found"
                }
            });

            $('#btnsavedetails').click(function () {

                var mid = $("#item_description :selected").attr('so-ency');
                window.location.href = "/HBaseline?Id=" + mid;

            });
        }
        else {
            alert("Please select AoN")
            return false;
        }

    }


</script>

