@model MOD.Models.AcquisitionCreateMasterViewModel
@{
    ViewBag.Title = "Create";
}

    <div class="card flex-fill w-100 p-4">
        <div class="row mb-2 mb-xl-3">
            <div class="col-auto d-none d-sm-block">
                <h2 class="mb-0">Create Acquisition Meeting Master</h2>
            </div>
        </div>
        @using (Html.BeginForm("Create", "AcquisitionMeetingMaster", FormMethod.Post))
        {
            <div class="form-row mb-4">
                <div class="col">
                    <label class="labeltext font-weight-bold">Meeting Type<span class="danger">*</span>:</label>
                    @Html.DropDownListFor(model => model.dac_dpb, new List<SelectListItem>
                       {
                          new SelectListItem{ Text="DAC", Value = "DAC" },
                          new SelectListItem{ Text="DPB", Value = "DPB" },
                          new SelectListItem{ Text="SPB", Value = "SPB" },
                       }, "--Select Meeting Type--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.dac_dpb, null, new { @class = "danger" })
                </div>

                <div class="col">
                    <label class="labeltext font-weight-bold">Meeting Date<span class="danger">*</span>:</label>
                    @*@Html.EditorFor(Model=>Model.meeting_date, new {htmlAttributes = new {@readonly = "true", Value=Model.meeting_date.Value.ToString("dd-MM-yyyy"), @class="form-control datepicker" } })*@
                    <input type="date" id="meeting_date" max="@DateTime.Now.Year-@DateTime.Now.Month-@DateTime.Now.Day" name="meeting_date" class="form-control">
                    @Html.ValidationMessageFor(x => x.meeting_date, null, new { @class = "danger" })
                </div>
            </div>
            <div class="form-row mb-4">
                <div class="col">
                    <label class="labeltext font-weight-bold">MOM Issue Date:</label>
                    <input type="date" id="mom_date" disabled name="Date_of_Issue_of_Minutes" class="form-control" placeholder="MOM Issue Dates">
                    @*@Html.ValidationMessageFor(x => x.Date_of_Issue_of_Minutes, null, new { @class = "danger" })*@
                </div>
                <div class="col">
                    <label class="labeltext font-weight-bold mb-2">Remarks:</label>
                    @Html.TextAreaFor(x => x.Remarks, new { @class = "form-control", @placeholder = "Remarks" })
                    @*@Html.ValidationMessageFor(x => x.item_description, null, new { @class = "danger" })*@
                </div>
            </div>
            <button class="btn btn-primary float-right" type="submit">Save</button>
        }
    </div>

        <script>
            $(document).ready(function () {
                $("#meeting_date").change(function () {
                    $("#mom_date").removeAttr("disabled");
                    var meeting_date = $("#meeting_date").val();
                    $("#mom_date").attr("min", meeting_date);
                });
            });
        </script>

